#!/usr/bin/env fish
if test "{{ .mode.name }}" = "container"; exit 0; end
if not set -q FEDPUNK_INSTALL_AUDIO; or test "$FEDPUNK_INSTALL_AUDIO" != "true"; exit 0; end
if not set -q FEDPUNK_PATH; set -gx FEDPUNK_PATH "{{ .chezmoi.workingTree }}"; end
source "$FEDPUNK_PATH/home/core/lib/helpers.fish"
section "Audio Installation"
install_packages pipewire pipewire-pulseaudio wireplumber pavucontrol
box "Audio Installation Complete!" $GUM_SUCCESS
