[submodule "config/neovim/.config/nvim"]
	path = config/neovim/.config/nvim
	url = https://github.com/hinriksnaer/nvim.git
	branch = main
[submodule "examples/module-template"]
	path = examples/module-template
	url = https://github.com/hinriksnaer/fedpunk-module-template.git
