{{- if and .install.firefox (ne .mode.name "container") }}
#!/usr/bin/env fish
# Install Firefox web browser


source "{{ .chezmoi.sourceDir }}/core/lib/helpers.fish"

section "Firefox Installation"

subsection "Installing Firefox"

install_packages firefox

echo ""
success "Firefox installed successfully"
{{- end }}
