{{- if and .install.kitty (ne .mode.name "container") }}
#!/usr/bin/env fish
source "{{ .chezmoi.sourceDir }}/core/lib/helpers.fish"
section "Kitty Installation"
install_if_missing kitty kitty
box "Kitty Installation Complete!" $GUM_SUCCESS
{{- end }}
