[user]
    name = hinriksnaer
    email = hgudmund@redhat.com

[core]
    editor = nvim
    pager = less -FRX
    excludesfile = ~/.gitignore_global
    autocrlf = input

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = simple
    followTags = true

[fetch]
    prune = true

[diff]
    colorMoved = zebra

[merge]
    conflictstyle = diff3

[rebase]
    autoStash = true

[color]
    ui = auto

[alias]
    # Status
    s = status -sb
    st = status

    # Branch
    br = branch
    co = checkout
    cob = checkout -b

    # Commit
    ci = commit
    cm = commit -m
    ca = commit --amend
    can = commit --amend --no-edit

    # Add
    a = add
    aa = add --all
    ap = add --patch

    # Diff
    d = diff
    dc = diff --cached
    ds = diff --staged

    # Log
    l = log --oneline --graph --decorate
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ll = log --pretty=format:'%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate --numstat

    # Show
    last = log -1 HEAD --stat

    # Stash
    stash-all = stash save --include-untracked

    # Undo
    unstage = reset HEAD --
    undo = reset --soft HEAD^

    # Push/Pull
    pushf = push --force-with-lease

    # Remote
    remotes = remote -v
